@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {
  --color-editor-bg-dark: #020617;
  --color-editor-bg-light: #f8fafc;
}

@layer base {
  .prose pre {
    background-color: transparent !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin: 0 !important;
    font-family: var(--font-geist-mono), monospace !important;
  }

  figure[data-rehype-pretty-code-figure] {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: var(--color-editor-bg-light);
    transition: all 0.3s ease;
  }

  .dark figure[data-rehype-pretty-code-figure] {
    border-color: rgba(255, 255, 255, 0.08);
    background-color: var(--color-editor-bg-dark);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  }

  figure[data-rehype-pretty-code-figure]::before {
    content: "";
    display: block;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dark figure[data-rehype-pretty-code-figure]::before {
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  figure[data-rehype-pretty-code-figure]::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ff5f56;
    box-shadow: 18px 0 0 #ffbd2e, 36px 0 0 #27c93f;
  }

  [data-rehype-pretty-code-figure] span {
    color: var(--shiki-light);
  }

  .dark [data-rehype-pretty-code-figure] span {
    color: var(--shiki-dark) !important;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
